@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

nav {
  background-color: black;
  
}

.logo {
  display: flex;
  justify-content: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
  color: white;
  padding: 30px;
}

#image_carasoul {
  margin: auto;
}

.new_shoes_container {
  background-color: black;
  padding: 40px;
}

.comment-title {
  margin: auto;
  font-family: 'Permanent Marker', cursive;
}
